@import './variables.scss';

/* theme color */
$--color-primary: $main-font;
$--input-background-color: $secondary-bg;

/* icon font path, required */
$--font-path: 'node_modules/element-ui/lib/theme-chalk/fonts';

// @import "node_modules/element-ui/packages/theme-chalk/src/index.scss";